html{
scroll-behavior:smooth;
}

body{
font-family:Poppins;
margin:0;
background:#0f172a;
color:white;
padding-top:80px;
}



nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
background:#020617;
z-index:1000;
box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}



section{
padding:90px 10%;
text-align:center;
scroll-margin-top:100px;
}



.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4f46e5,#22c55e);
text-align:center;
}

.hero h1{
font-size:48px;
}

.hero span{
color:#facc15;
}

.hero p{
max-width:600px;
margin-top:10px;
}



.typing{
margin-top:10px;
font-size:22px;
color:#facc15;
font-weight:500;
}



button{
margin-top:25px;
padding:12px 28px;
border:none;
background:black;
color:white;
border-radius:5px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#111827;
}



.grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}



.card{
background:#1e293b;
padding:25px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
background:#334155;
}



.skills{
margin-top:30px;
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skills span{
background:#1e293b;
padding:10px 20px;
border-radius:20px;
}



.project-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}



.project{
background:#1e293b;
padding:25px;
border-radius:10px;
transition:0.3s;
}

.project:hover{
transform:scale(1.05);
}



ul{
max-width:600px;
margin:auto;
text-align:left;
line-height:1.8;
}



#contact a{
color:#38bdf8;
text-decoration:none;
}

#contact a:hover{
color:#facc15;
}



footer{
background:#020617;
padding:20px;
text-align:center;
margin-top:40px;
}